h1{
  font-family: cursive;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-style: italic;
  text-align:center;
  color: rgb(148, 22, 64); 

}

h2{
  font-family: cursive;
  font-size: 2rem;
  font-style: italic;
  text-align:center;
  color: rgb(160, 65, 96); 
}

h5{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-style: italic;
  text-align:center;
  color: rgb(48, 45, 202); 
}